.searchItem{
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}
.sImg{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.siDesc{
display: flex;
flex-direction: column;
gap: 10px;
flex: 2;
}
.siTitle{
    font-size: 20px;
    color: #0071c2;
}
.siDistance{
    font-size: 15px;
}
.siTaxOp{
    font-size: 15px;
    background-color: #008009;
    color: white;
    width: max-content;
    padding: 3px;
    border-radius: 5px;
}.siSubtitle{
    font-size: 15px;
    font-weight: bold;
}
.siFeatures{
    font-size: 15px;
}
.siCancelOp{
     font-size: 15px;
     color: #008009;
     font-weight: bold;
}
.siCancelOpSubtitle{
    font-size: 15px;
     color: #008009;
}
.siDetails{
    flex: 1;
}
/* on 1:25:05  where i stoped*/